CLAUDE.md
/pop-acl
/pop-audit
/pop-auth
/pop-cache
/pop-code
/pop-color
/pop-config
/pop-console
/pop-cookie
/pop-crypt
/pop-css
/pop-csv
/pop-db
/pop-debug
/pop-dir
/pop-dom
/pop-filter
/pop-form
/pop-http
/pop-i18n
/pop-image
/pop-kettle
/pop-log
/pop-mail
/pop-mime
/pop-nav
/pop-paginator
/pop-parser
/pop-pdf
/pop-queue
/pop-session
/pop-shipping
/pop-storage
/pop-utils
/pop-validator
/pop-view
/popphp
